<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>CNG_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>G711_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>G722_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>NetEq_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>PCM16B_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>aec_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>aecm_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>agc_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>apm_util_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>audio_coding_module_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>audio_conference_mixer_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>audio_device_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>audio_processing_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>bitrate_controller_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>hookflash_video.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>hookflash_voice.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>iLBC_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>iSACFix_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>iSAC_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>media_file_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>ns_fix_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>ns_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>opus_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>rtp_rtcp_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>udp_transport_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>video_capture_module_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>video_processing_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>video_render_module_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>vorbis_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>webrtc_i420_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>webrtc_utility_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>webrtc_video_coding_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>webrtc_vp8_ios.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E232B2B1154D87DA00A2BAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E232B2CC154D883A00A2BAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25568DF155438AB00CA2903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E26B79C7165A7FCE003EF625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853CFA154C1D2A00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853D14154C1E7B00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853D2E154C1F5100902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853DA5154C212800902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853DB4154C213300902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853EA1154C22C700902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853EFA154C23A800902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853F44154C8F0E00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853FA5154C900900902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2853FE7154C911700902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E285400A154C91D800902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E285403B154C930D00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2854062154C93EF00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E285407D154C949D00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2854095154C951D00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28540B3154C95EA00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28540C7154C964B00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28540E2154C96A600902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28540FD154C976900902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E285411A154C982300902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E285417C154C98E300902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28541C1154C9A4900902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28541EC154C9AF200902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2854211154C9BC900902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E285422C154C9CDB00902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2854247154C9D7800902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E285429D154C9E8000902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E28542E0154C9F5600902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2854306154CA02100902B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C05C8315921FB900CF213C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
